:root {
  --font-family: 'Ubuntu', sans-serif;
  --font-family-logo: 'Ubuntu Condensed', sans-serif;
  --font-input: 300;
  --font-size-logo: 28px;
  --font-size-card-title: 28px;
  --font-size-input-label: 20px;
  --font-size-button: 22px;
  --font-size-form-fieldset: 22px;
  --font-size-table-header: 22px;
  --font-size-modal-title: 28px;
  --font-size-modal-button: 28px;
  --primary-color: #6C4AB6;
  --secundary-color: #8D72E1;
  --contrast-dark-color: #4D4D4D;
  --contrast-ligth-color: #FFF;
  --info-color: #DF2525;
  --sucess-color: #047900;
  --transparency-color: #4D4D4D33;
  --shadow: 0 5px 10px #9999993B;
}

@media (min-width: 800px) {
  :root {
    --font-size-logo: 56px;
  }
}
